.App {
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #2B2F3E;
  /* rgb(73, 79, 82); */
  color: white;
}

.navlinks{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}

.resumeplaceholder{
  text-align: center;
 display: inline-block;
 /* background-color: black; */
}

.img-circle{
  border-radius: 50%;
  /* box-shadow: 10px 10px 5px rgba(155, 72, 34, 0.432); */
}

.display-1{
  font-size: 2px;
}

.aboutparagraph1{
  font-size: 20px;
  color: black;
  font-weight: 300;
}

.aboutparagraph2{
  font-size: 20px;
  color: black;
  font-weight: 300;
}

.email{
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.linkedin{
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.github{
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.medium{
  font-size: 20px;
  color: black;
  font-weight: 400;
}

.resume{
  font-size: 25px;
  color: black;
  font-weight: 400;

}

/* .resumebutton{
  color: white;
  background-color: black;
} */